/.localHistory
*~
.DS_Store
/.localHistory
*.sfproj
*.sfsln
*.sfuo
*.userprefs
/resource-bundles
/Soql
/AnonymousApex
/.cache
TestsResultsCache.xml
*.md
*.sflog
.tmp
/ant
TestCache.xml
/src/customMetadata
/src/objects
/src/staticresources
/src/package.xml
*.rmprops
*.sfprojsettings
*.credprops
/src/globalValueSets
**/.localHistory
**/.cache
*.TMP
